@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    font-size: 27px;
    align-items: center;
    padding: 15px 15px;
    font-weight: 900;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
background-color: yellow;
display: flex;
margin: auto;
justify-content: center;
}
.gameInfo{
    margin: 1%;
    width: 50%;
}
.container-p{
    width: 50%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container{
    /* margin:1% auto 1% auto; */
    display: grid;
    grid-template-rows: repeat(3, 10vw );
    grid-template-columns: repeat(3, 10vw );
}
.box{
    border: 2px solid black;
    font-size: 9vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}